# -FrontPage-


RewriteEngine On
RewriteRule ^([a-zA-Z0-9]+)$ index.php?pid=$1
RewriteRule ^([a-zA-Z0-9]+)/$ index.php?pid=$1


<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>


AuthUserFile /home/thinkdif/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/thinkdif/public_html/_vti_pvt/service.grp

AddType application/x-javascript .js
AddType application/vnd.ms-fontobject .eot
AddType application/octet-stream .otf .ttf
AddType font/otf .otf
AddType font/opentype .woff
AddDefaultCharset UTF-8
AddType image/gif .gif
AddType image/jpeg .jpeg .jpg