body {
 
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
          width: 500px;
        clear: both;  
}

 .starter-template input {
   text-align: center;
   margin-top: 12px;
        width: 100%;
        clear: both;
}
 .starter-template label{
    float:left;
    width:300px;
    text-align: left;
    padding-right:12px;
    margin-top: 12px;
    clear : right ;
};



#form1 {

    background-colour : #CCC ;
    width : 100% ;
}

