/* Sticky footer styles */
html,
body {
 height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
 height: auto !important;
 min-height: 100%;
 height: 100%;

 /* Negative indent footer by it's height */
 margin-bottom: -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
 height: 40px;
}

#footer {
 padding-top: 10px;

 right: 15px;
 background-color: #efefef;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
 #footer {
   margin-left: -20px;
   margin-right: -20px;
   padding-left: 20px;
   padding-right: 20px;
 }
}
